# Python derleme dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Sanal ortam klasörleri (varsa)
venv/
.venv/
env/


# PDF dosyaları (Eğer kaynak dosyaları depoya atmak istemiyorsanız)
*.pdf

# VS Code ayarları (Kişisel ayarlar içeriyorsa)
.vscode/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Flutter / Dart
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.vscode/
.idea/



# Geçici dosyalar
*.log
*.tmp
*.bak